{% extends 'main/index.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" id="app">
		<modal-empleado :empleados="empleados"></modal-empleado>
		<br>
		<div class="card">
			<div class="card-body">		
				<div class="row">
					<div class="col-12">
						<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
						  <h3>Empleados</h3>
						  <!-- <div class="input-group">
						    <div class="input-group-prepend">
						      <div class="input-group-text" id="btnGroupAddon2">@</div>
						    </div>
						    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
						  </div> -->
						  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  								<button @click="showModal" type="button" class="btn btn-primary btn-outline-success" title="Registra un nuevo empleado" data-toggle="tooltip">
  									<i class="fas fa-plus"></i> Nuevo</button>
  								<button type="button" @click.prevent="remove" class="btn btn-outline-danger btn-danger" :disabled="isDisabled" title="Elimina los registros seleccionados" data-toggle="tooltip">
  									<i class="fas fa-ban"></i> Eliminar</button>

  <!-- <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div> -->
</div>
						  
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-12">
						<div class="table-responsive">							
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th>
											<input type="checkbox" @click="selectAll" :checked="all">
										</th>
										<th>Cedula</th>
										<th>Nombre</th>
										<th>Curp</th>
										<th>Sexo</th>
										<th>Fecha Nac</th>
										<th>Salario</th>
										<th>Supervisor</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="e in empleados" @click="select(e.id)">
										<td>
											<input type="checkbox" :checked="isChecked(e.id)">		
										</td>
										<td>
											<a :href="getUrl(e.id)">[[ e.cedula ]]</a></td>
										<td>
											<a :href="getUrl(e.id)">[[ getNombre(e) ]]</a></td>
										<td>[[ e.curp ]]</td>
										<td>[[ getSexo(e.sexo) ]]</td>
										<td>[[ e.fechanac ]]</td>
										<td>[[ e.salario ]]</td>
										<td>[[ e.supervisor ]]</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div> <!-- END CARD BODY -->
		</div>
	</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'main/js/empleados/modal-empleado.js' %}"></script>
<script>
	let token = "{{csrf_token}}";
	let vm = new Vue({
		el : "#app",
		delimiters : ['[[', ']]'],
		data : {
			all : false,
			empleados : [],
			selected : [],
			host : 'http://localhost',
		},
		mounted : function(){
			let self = this;

			$('[data-toggle="tooltip"]').tooltip();

			fetch(this.host + '/empleados/get/')
				.then(function(res){
					return res.json()
				})
				.then(function(res){
					console.log(res);
					if(res.success)
					{
						self.empleados = res.data;
						// self.empleados.forEach(function(value, index){
						// 	self.selected.push(value.id);
						// })
					}
				})
		},
		computed : {
			isDisabled : function()
			{
				return this.selected.length == 0;
			},
		},
		methods : {
			isChecked : function(id){
				// return true;
				// debugger
				return this.selected.indexOf(id) >= 0;
			},
			getNombre : function(e){
				return e.nombre + " " + e.apellidop + " " + e.apellidom;
			},
			getSexo : function(s){
				return (s == 'h') ? 'Hombre' : 'Mujer';
			},
			getUrl : function(id){
				return `${this.host}/detalle/${id}/`;
			},
			showModal : function(){
				$("#modal-empleado").modal("show");
			},
			selectAll : function(){
				let self = this;
				this.all = !this.all;
				this.selected = [];

				if (this.all)
				{
					this.empleados.forEach(function(value){
						self.selected.push(value.id)
					})
				}
				
			},
			select : function(id){
				let index = this.selected.indexOf(id);
				if(index < 0)
				{
					this.selected.push(id);
				}
				else
				{
					this.selected.splice(index, 1);	
				}
			},
			remove : function(){
				let self = this;				
				this.selected.forEach(function(id, index){
					fetch(self.host + '/delete/' + id + '/')
						.then(function(res){
							return res.json()
						})
						.then(function(res){
							console.log(res);	
							if(res.success)
							{
								self.empleados.forEach(function(empleado, idx){
									if(empleado.id == id)
									{										
										self.empleados.splice(idx, 1);
										return false;
									}
								})
							}
						});					
				});
				this.selected = [];

			}
		}
	})
</script>
{% endblock %}