{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Empleados</title>
	<link rel="stylesheet" href="{% static '/main/css/bootstrap.min.css' %}">	
	<link rel="stylesheet" href="{% static '/main/css/fontawesome.css' %}">	
	<style>
		body
		{
			background-color: #f3f3f3;
		}		
	</style>
	{% block styles %}

	{% endblock %}
</head>
<body>
	{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'empl:index' %}">Empleados</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
			    <a class="nav-link" href="{% url 'empl:index' %}">Empleados</a>
			  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="{% url 'empl:deptos' %}">Departamentos</a>
			  </li>
			  <li class="nav-item active">
			    <a class="nav-link" href="{% url 'empl:maquinas' %}">Maquinas</a>
			  </li>			  
			  <li class="nav-item active">
			    <a class="nav-link" href="{% url 'empl:proyectos' %}">Proyectos</a>
			  </li>	
			  <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Reportes
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'empl:reporte' %}">Reporte General Empleados</a>
		          <a class="dropdown-item" href="{% url 'empl:reporte_departamentos' %}">Reporte General Departamentos</a>
		          <a class="dropdown-item" href="{% url 'empl:reporte_proyectos' %}">Reporte General Proyectos</a>
		        </div>
		      </li>		  
			</ul>			
		</div>
	</nav>
	{% endblock %}
	{% block content%}
	<div class="container" id="app">
		<br>
		<div class="card">
			<div class="card-body">		
			
				<div class="row">
					<div class="col-md-4 col-12">
						
					</div>
				</div>
				
			</div> <!-- END CARD BODY -->
		</div>
	</div>
	{% endblock %}
	<script src="{% static '/main/js/jquery.min.js' %}"></script>
	<script src="{% static '/main/js/popper.min.js' %}"></script>
	<script src="{% static '/main/js/bootstrap.min.js' %}"></script>
	<script src="{% static '/main/js/vue.js' %}"></script>
	{% block scripts %}
	<script>
		let vm = new Vue({
			el : "#app",
			delimiters : ['[[', ']]'],
			data : {},
		})
	</script>
	{% endblock %}
</body>
</html>