{% extends 'main/index.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
						<h5 class="card-title">Reporte General de Departamentos
							<span class="badge badge-danger">{{ qty }} registros</span></h5>
						<a href="javascript:window.print()" class="btn btn-primary pull-right d-print-none">
							<i class="fas fa-print"></i>
							Imprimir
						</a>
					</div>
					<hr>
					<div class="card-text">						
					
						<table class="table">
							<thead>
								<tr>									
									<th>Nombre</th>
									<th>Empleados</th>
									<th>Proyectos</th>
									<th>Jefe</th>
								</tr>
							</thead>
							<tbody>
								{% for e in data %}
								<tr>									
									<td>{{ e.nombre }} </td>
									<td>
										{% for d in e.empleados %}
										<span class="badge badge-success">
										{{d.empleado.nombre}} {{d.empleado.apellidop}} {{d.empleado.apellidom}}</span><br>
										{% endfor %}
									</td>
									<td>
										{% for p in e.proyectos %}
										<span class="badge badge-primary">
										{{ p.nombre }} 
										</span><br>
										{% endfor %}		
									</td>
									<td>
										{% for m in e.jefes %}
										<span class="badge badge-warning">{{ m.empleado.nombre }} 
										({{ m.fechaads }})</span>
										{% endfor %}		
									</td>
									<td>										
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
{% endblock %}